@media screen and (max-width: 767px) {
    .mobile-menu {
        overflow-y: scroll;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: var(--white-color--);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    .mobile-menu__container {
        position: relative;
        padding: 48px 0 48px 40px;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    .mobile-menu__close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 0;
        background-color: transparent;
        border: 0;
        line-height: 0;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color--);
        }
    }
    
    .mobile-menu__close-icon {
        width: 40px;
        height: 40px;
        fill: currentColor;
    }
    
    .mobile-site-nav {
        color: var(--secondary-text-color--);
    }
    
    .mobile-site-nav__item,
    .mobile-contact__item {
        &:not(:last-child) {
            padding-bottom: 32px;
        }
    }
    
    .mobile-site-nav__link {
        font-family: var(--primary-font-family--);
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
    
        color: var(--secondary-text-color--);
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color--);
            }
    }
    
    .mobile-site-nav__link_current {
        color: var(--accent-color--);
    }
    
    .mobile-contact {
        margin-top: auto;
    }
    
    .mobile-contact__tel-link {
        font-family: var(--primary-font-family--);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18; 
        letter-spacing: 0.02em;
        color: var(--accent-color--);
    }
    
    .mobile-contact__mail-link {
        font-family: var(--primary-font-family--);
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--primary-text-color--);
    }
    
    
    .mobile-networks {
        margin-top: 64px;
        display: flex;
        flex-wrap: wrap;
    
    }
    
    .mobile-networks__item {
        position: relative;
        &:not(:first-child) {
            padding-left: 10px;
        }
        &:not(:last-child) {
            padding-right: 10px;
        }
    
        &:not(:last-child):after {
            position: absolute;
            content: " ";
            display: block;
            top: 11px;
            width: 22px;
            height: 1px;
            right: -10px;
            transform: rotate(90deg);
            background-color: rgba(33, 33, 33, 0.2);
        }
    }
    
    .mobile-networks__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-color--);
    }   
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}