
.form-title {
    max-width: 370px;
    margin-bottom: 12px;

    @include font(20px, 700, 30px);
    text-align: center;

    color: var(--secondary-text-color--);
}

.form {
    margin-left: auto;
    margin-right: auto;
    max-width: 370px;

    @extend %align;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
    max-width: 370px;
    width: 100%;
}

.field-input {
    position: relative;
    
    .form-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        fill: var(--secondary-text-color--);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
    }

    .form-input {
        max-width: 370px;
        width: 100%;
        height: 40px;
        padding: 12px 12px 12px 42px;
        margin: 0;
    
        outline: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form-field, .field-comment  {
    label {
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    }
}

.form-icon {
    .field-input:focus-within > & {
        fill: var(--accent-color--);
    }
}


.form-input {
    &:focus {
        border-color: var(--accent-color--);
    }
}


.field-comment {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.textarea-comment {
    display: block;

    padding: 12px 16px;
    max-width: 370px;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-policy {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.17;

    margin-bottom: 30px;
}

.policy-link {
    color: var(--accent-color--);
}

.checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 

.policy-checkbox {
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid #000;
    border-radius: 2px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox:checked + & {
        background-color: var(--accent-color--);
        border-color: var(--accent-color--);
    }

    .checkbox:focus + & {
        border-color: var(--accent-color--);
    }
}

.policy-checkbox-icon {
    display: none;
    fill: var(--white-color--);

    .checkbox:checked + .policy-checkbox & {
        display: block;
    }
}

.button-send {
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    outline: none;
    color: var(--white-color--);
    background-color: var(--accent-color--);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--accent-color-focus--);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (min-width: 450px) {
    .textarea-comment {
        width: 370px;
    }
}

@media screen and (min-width: 1200px) {
    .form-title {
        max-width: 448px;
        @include font(20px, 700, 23px);
    }

    .form {
        max-width: 448px;
    }

    .form-field {
        max-width: 448px;
    }

    .field-input {
        .form-input {
            max-width: 448px;
            height: 40px;
            padding: 12px 12px 12px 42px;
            margin: 0;
        
            outline: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
        
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    

    .textarea-comment {
        width: 448px;
    
        font-size: 12px;
    }

    .form-policy {
        font-size: 14px;
        line-height: 1.71;
    }

}









